    <footer>
        <section class="quote-footer">
            <h2>Een <span>solide</span> HR basis</h2>
        </section>
        <article>
            <nav>
                <ul>
                    <li>Collier Advies</li>
                    <li>Chopinstraat 99</li>
                    <li>2162 VS Lisse</li>
                    <li>Nederland</li>
                </ul>
                <ul>
                    <li>T: +31 252 866988</li>
                    <li>M: +31 625123488</li>
                    <li><a href="mailto:info@collier-advies.nl" class="link-wt">info@collier-advies.nl</a></li>
                    <li>Privacy Statement</li>
                </ul>
                <ul>
                    <li>Volg ons op onze Socials</li>
                    <li><a target="_blank" href="https://nl.linkedin.com/in/marinadevreede?trk=public_post_feed-actor-image" class="socials"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://x.com/damast1" class="socials"><i class="fa-brands fa-x-twitter"></i></a></li>
                </ul>
            </nav>
        </article>
    </footer>
</div>
</body>
</html>