<header>
    <img src="" alt="">
    <nav>
        <ul class="navigation">
            <li><a href="/en">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">HR Advice services</a></li>
            <li><a href="">Your benefits</a></li>
            <li><a href="">Vacancies at our clients</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="/"><img src="./images/nl-icon.svg" alt=""></a></li>
        </ul>
    </nav>
</header>