<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>404</h1>
    </section>
    <main>
        <section>
            <article>
                <section style="display: flex;">
                    <img style="width: 80%;max-width: 400px;display: flex;" src="/images/404-1.svg" alt="404 image">
                    <section>
                        <h2>Sorry, deze pagina is niet beschikbaar</h2>
                        <p>De link waarop je hebt geklikt is mogelijk verouderd of de pagina is verwijderd. <a href="/">Ga terug naar de homepage</a> om verder te navigeren.</p>
                    </section>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>