<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Strategic HR advice</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Strategic <strong>HRM</strong> can be seen as the process in which the behaviour, knowledge, and ambition
                        of people are aligned with the organisational objectives, with the aim of ensuring continuity
                        of the organization.</p>
                </section>
                <section>
                    <h2>Your employees make a difference</h2>
                    <p><strong>Collier Advies</strong> as an HR business partner contributes to building a strong organisation through
                        strategic advice.</p>
                </section>
                <section>
                    <h2>What does Collier HR Advies do?</h2>
                    <p>De HR advisor of Collier Advies... :</p>
                    <ul class="list">
                        <li>Develops an HR strategy which algins with the organisational goals;</li>
                        <li>Implements the HR-strategy within the organisation;</li>
                        <li>Provides strategic HR advice for organisational specific issues;</li>
                        <li>Is specialist in guiding expats.</li>
                    </ul>

                    <p>In this way, Collier HR Advies supports and assists the employees and the HR department in
                        all aspects related to attracting and settling international employees (and their families).</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>