<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>HR support</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Drafting an employment agreement, creating an employee handbook, and maintaining the
                        HR files up-to-date can be incredibly time-consuming for your business. If you are looking to
                        outsource these HR services, Collier HR Advies is the right place for you. Collier HR Advies
                        provides operational-level support for all these time intensive Human Resources activities.</p>

                    <p>To establish or (re)structure a tailor-made HR foundation, we offer building blocks. Naturally,
                        these are fully compliant with Dutch labour law, tax regulations, your organizational culture,
                        and always aligned with your organizational strategy.</p>
                        
                        <ul class="list">
                            <li>Employment Agreement;</li>
                            <li>Employee Handbook;</li>
                            <li>Personnel information registration including holiday days/hours;</li>
                            <li>Coordination payroll;</li>
                            <li>Organisation and keeping HR files up to date;</li>
                            <li>Compensation and benefits development;</li>
                            <li>Development Health &amp; Safety policy (trusted advisor, gate keepers act, etc).</li>
                            <li>Development of recruitment, development and exit policies;</li>
                            <li>Development of employer costs models;</li>
                            <li>Monitoring and signalling deadlines related to matters such as end of probationary
                                periods, contract end dates, performance reviews and payroll.</li>
                            <li>Helpdesk for employer and employees.</li>
                        </ul>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>