<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Organizational development</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Your organization is changing. It grows, shrinks, changes direction or adapts. You’ve set
                        ambitious strategies, but implementing them presents challenges. Collier HR Advies provides
                        support for complex organizational development issues.</p>

                    <p>Are you looking for an HR business partner for the future of your organization? Collier HR
                        Advies is the right partner for you.</p>
                </section>
                <section>
                    <p>HR developments, the next step:</p>
                        <ul class="list">
                            <li>HR Policies and Procedures Handbook (standardizing letters, agreements and
                                processes and procedures);</li>
                            <li>Embedding HR Policies, processes and procedures in organization;</li>
                            <li>Annual evaluation of the HR foundation in line with legal requirements, legislation
                                and organizational change.</li>
                        </ul>
                        <h2>More about Collier HR Advies?</h2>
                    <p>In case you would more information about organizational development and how Collier
                        Advies can support you, please feel free to contact us.</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>