<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>HR services</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <h2>HR services</h2>
                    <p>Your employees are the most crucial individuals in your organization. They ensure that you
                        can achieve your business objectives. With HR advice from Collier Advies, you can maximize
                        the potential of your employees. Human Resources Management involves various aspects,
                        including absence due to illness registration and support, hiring and termination processes,
                        and updates to personnel data, all of which can be time-consuming.</p>
                </section>
                <section>
                    <p>Collier Advies Human Resources Consultancy is ready to support you with fractional HR
                        Services. We can provide you with support in the following situations:</p>
                        <ul class="list">
                            <li>When you want to reduce costs;</li>
                            <li>When you are starting HR projects;</li>
                            <li>When you need to establish a solid HR foundation;</li>
                            <li>When you face temporary capacity shortages;</li>
                            <li>When you lack sufficient knowledge;</li>
                            <li>When you want to save money by reducing absenteeism;</li>
                            <li>When your business is experiencing growth and needs support;</li>
                            <li>When your company is large enough to encounter personnel issues but too small to
                                have it’s own HR professional.</li>
                        </ul>
                    <p>Collier HR Advies is your HR business partner if:</p>
                    <ul class="list">
                        <li>You are seeking <strong>additional expertise</strong> in Human Resources;</li>
                        <li>You need <strong>additional capacity</strong> in the HR field;</li>
                        <li>You are looking for <strong>replacement capacity</strong> in the HR field.</li>
                    </ul>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>