<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Additional services</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>In addition tot he operational and strategic HR solutions, Collier HR Advies also offer the
                        below mentioned additional services.</p>
                        <ul class="list">
                            <li>Recruitment (from drafting the vacancy to making the offer of employment)</li>
                            <li>Expat support, application of the “kennismigranten regeling” and the 30% ruling</li>
                            <li>Coaching</li>
                            <li>Trusted person (Vertrouwenspersoon), we lend a listening ear to all individuals in
                                your organization. With our objective perspective, we are well-equipped to resolve
                                conflicts and problems.</li>
                        </ul>
                </section>
                <section>
                    <h2>Your HR business partner?</h2>
                    <p>Are you looking for an HR business partner who unloads your workload. Or are you in need of
                        strategic advice, <a href="/en/contact">please feel free to contact us.</a></p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>