<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="intro">
        <div class="left"></div>
        <div class="right">
            <section class="quote">
                <p style="font-size: 22px;line-height: 160%;">With our decisive and engaged approach, we create more freedom for you to focus on what
                    you do best: running your business</p>
            </section>
            <section class="intro-text">
                <h1>Collier Advies Human Resources Consultancy based The Netherland works diligently with care and unwavering dedication</h1>
                <p>The freedom to focus on growing your business, that’s what every entrepreneur strives for.
                    By outsourcing HR related tasks such as employee management, entrepreneurs can optimize
                    their focus on company growth. With our professional HR knowledge and extensive
                    experience, Collier Advies Human Resources Consultancy can handle many of these HR
                    concerns for you. We would like to explain you why.</p>
            </section>
        </div>
    </section>
    <main>
        <article>
            <section>
                <ul class="list-home">
                    <li>
                        <i class="fa fa-briefcase"></i>
                        <h2>Professional HR, basis for transparency</h2>
                        <p>As an entrepreneur having clarity regarding Human Resources is crucial. The same applies to
                            your organization's talents. Our thorough approach ensures clear alingment of expectations
                            and obligations are for both parties. No ambiguity – just clarity and transparency.</p>
                    </li>
                    <li>
                        <i class="fa fa-file-circle-check"></i>
                        <h2>HR clarity in all phases</h2>
                        <p>This approach fosters a cooperative foundation that improves efficiency and effectiveness
                            for all stakeholders. Transparency is essential throughout all parts of your business, including
                            aspects such as employee relations, growth, potential investors, business sales and company
                            closures.</p>
                    </li>
                </ul>
                <ul class="list-home">
                    <li>
                        <i class="fa fa-building-circle-check"></i>
                        <h2>Additional advantage</h2>
                        <p>Moreover, a robust HR foundation ensures that your company projects and maintains a
                            professional image. After all, new employees are drawn to an organization with clear,
                            appealing vacancy descriptions and a well-defined HR strategy.</p>
                    </li>
                    <li>
                        <i class="fa fa-user-check"></i>
                        <h2>Human Resources Consultancy</h2>
                        <p>Our expertise and proactive approach allow us to establish a robust HR foundation for your
                            company. Please feel free to call or email us for more information.</p>
                    </li>
                </ul>
            </section>
        </article>
    </main>
<%- include('partials/footer.ejs') -%>