<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Approach</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Let's be clear: we operate with the vision that your employees are the distinctive character
                        of your organization and we believe in an employer-employee relationship that is based on
                        trust and respect. A clear HR policy enhances this relationship. A clear HR policy enhances
                        this relationship. What can you expect from us for example?</p>
                </section>
                <section class="quote">
                    <p>By providing insight into actual personnel costs, we create more peace and ease of
                        mind for you as entrepreneur</p>
                </section>
                <section>
                    <h2>Strong in HR</h2>
                    <p>In all cases we start by understanding the customer’s HR requirements. Partnership and
                        cooperation are key. After identifying the HR matters you’d like to address, we’ll prioritize
                        them and determine the necessary hours. Upon accepting our offer, we enter into a
                        partnership for a definite period. During this period, we establish a solid and workable and
                        practical HR foundation.</p>
                </section>
                <section>
                    <h2>Optimal Services</h2>
                    <p>At the end of the period, we will review, again in partnership, whether your organization
                        needs additional support or guidance. You may choose to continue outsourcing HR. Staying
                        engaged with your company enables us to maximize our service. For more information,
                        please feel free to call or email us!</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>