<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Our Team</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>As Human Resources Consultants, we establish strong and long-lasting relationships with our
                        clients. Organizations can rely on our flexible approach, practical methods, and maximum
                        effort. We thoughtfully deliver on the promises you make to your employees.</p>
                </section>
                <section class="quote">
                    <p>Our commitment is to deliver on promises and fully immersing ourselves in your
                        organization - with heart and soul</p>
                </section>
                <section>
                    <h2>Keeping promises</h2>
                    <p>When it comes to keeping promises, we ensure that any offer extended to applicants are
                        honored. If there are promises that may not be feasible from a tax perspective, we
                        communicate this clearly to both parties and propose an alternative if necessary. Our motto
                        "Don't bring problems, bring solutions" is essential to us.</p>
                    <p>At Collier Advies, we have accumulated 35 years of work experience with national and
                        international organizations in the high-tech, internet, and ICT industries. Our extensive
                        experience includes valuable contributions during the start-up phase of enterprises, often
                        involving complex international structures. We have successful assisted organizations during
                        downsizing or closure phases.</p>
                </section>
                <section>
                    <h2>Hands-on mentality</h2>
                    <p>Our hands-on mentality has earned us the reputation of being skilled builders. We excel at
                        setting up and (re-) structuring organizations and HR departments. We can translate
                        organizational objectives in to concrete HR policies. Our extensive knowledge spans labour
                        law, compensation &amp; benefits and fiscal knowledge including extensive experience with
                        expatriate management – e.g. 30% ruling – coaching and recruitment. We take pride in
                        building upon this expertise.</p>
                </section>
                <section>
                    <h2>Human Resources Consultancy</h2>
                    <p>Our strong communication and interpersonal relationship skill, along with our hands-on
                        mentality, are at your service for your HR matters. If your organization has specific HR issues,
                        don't hesitate to call or email us for an introductory meeting.</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>