<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>The cooperation</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>As Human Resources Consultants, we establish strong and long-lasting relationships with our
                        clients. Organizations can rely on our flexible approach, practical methods, and maximum
                        effort. We thoughtfully deliver on the promises you make to your employees.</p>
                </section>
                <section class="quote">
                    <p>On a business level, we personally engage with our
                        clients. When necessary we bring people together professionals from our own network
                        to achieve optimal results.</p>
                </section>
                <section>
                    <h2>Added Value</h2>
                    <p>Our collaborations include various partners, such as Health &amp; Safety Services, Accountants,
                        Labor Law Specialists, Recruitment agencies and Insurance brokers. Thanks to this
                        cooperation, we can swiftly and decisively address unexpected challenges in the areas of
                        insurances or gaps in agreements. A proven added value of our HR services.</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>