<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Mission & Vision</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <h2>Mission</h2>
                    <p>Collier HR Advies is dedicated to HR excellence through knowledge and expertise. We
                        achieve this by offering clarity, sharing expertise, and delivering added value to small and
                        (international) organizations that do not (yet) have an HR department or are just starting. In
                        our collaboration with your organization, we provide up-to-date HR knowledge HR in a
                        personal atmosphere, emphasizing added value, mutual respect and trust.</p>
                </section>
                <section>
                    <h2>Vision</h2>
                    <p>Collier HR Advies is a committed HR consultancy where expertise in laws, regulations, trends,
                        and developments plays and integral role in all collaborations with stakeholders. This
                        knowledge is reflected in our results-oriented approach within the HR field, where the level
                        of expertise is tailored to your organizations needs. We embed this knowledge in processes
                        
                        and tools, resulting in long-term partnerships, efficient customization, and our contribution
                        to your organization's professional image.</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>