<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Continuity</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p><strong>Collier HR Advies</strong> takes responsibility for embedding and continuing of HR processes.</p>
                    <p><strong>Collier HR Advies</strong> is a reliable <strong>HR business partner</strong> that in addition for ensuring continuity,
                        also help realizing ambitions and HR objectives.</p>
                </section>
                <section>
                    <h2>Your HR business partner?</h2>
                    <p>Interested in the services Collier HR Advies has to offer? <a href="/en/contact">Please feel free to contact us.</a></p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>