<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Cost savings</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <h2>Collier Advies Human Resources Consultancy based in The Netherlands
                        Works, professional and costs saving</h2>
                    <p>Salary costs, employers&#39; costs and in addition the costs for insurances which you have taken
                        out for your employees. Do you know the exact costs for your employees? I will make it clear
                        and transparent for you! Possibly you are entitled to subsidies or you have certain risks not
                        covered. With that knowledge you can take action and save money.</p>
                        <section class="quote">
                            <p>By providing an insight in the actual personnel costs we create more peace and rest
                                for organizations.</p>
                        </section>
                        <h2>Cost effective HR Management</h2>
                        <p>In addition a Solid HR basis saves money. Due to more efficient and effective HR processes
                            and procedures, and due to the ability to work with Management information.</p>
                            <h2>You can’t manage what you do not measure</h2>
                            <p>Measuring is knowing. Objectives and achieved results are now measurable and adjustable.
                                Timely limiting employee turnover and preventing disputes are no longer intangible costs.</p>
                                <p>Reducing absenteeism by 1% saves you money and aggravation and contributes to good
                                    “employer-ship”. As you can see, professionalization of HR provides you with more than just
                                    a solid HR basis.</p>
                                <h2>Human Resources Consultancy</h2>
                                <p>Are you curious about the savings my work can bring you? Please feel free to
                                    <a href="/en/contact">contact us</a>. In a
                                    personal conversation I would like to tell you more about managing a sound HR
                                    administration and its benefits.</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>