<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Uw voordeel</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <section>
                        <h2>The advantage of an HR business partner</h2>
                        <p>As HR business partner we develop a clear HR vision and HR strategy which is inline with the
                            organizational strategy and values of your organization. Taking the internal and external
                            circumstances of the organization into consideration.</p>
                        <p>You can focus on lowering the operational costs, increasing the quality of your employees
                            and achieving your strategic goals by outsourcing HRM to Collier HR Advies</p>
                        <p>The outsourcing of HR activities to an HR business partner delivers immediate advantages:</p>
                            <ul>
                                <li><a href="/en/uw-voordeel/kosten-besparend">Cost savings</a></li>
                                <li><a href="/en/uw-voordeel/kwaliteit">Quality</a></li>
                                <li><a href="/en/uw-voordeel/continuiteit">Continuity</a></li>
                                <li><a href="/en/uw-voordeel/flexibiliteit">Flexibility</a></li>
                            </ul>
                            <p></p>
                            <p>Interested in the services Collier HR Advies has to offer? <a href="/en/contact">Please feel free to contact us.</a></p>
                    </section>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>