<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1>Flexibility</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Collier Advies HR consultancy can be deployed in a flexible manner. Collier Advies Human
                        Resources Consultancy performs her activities on an interim or project basis. We jointly in
                        consultation determine the required number of hours / months based on the work to be
                        done.</p>
                        <p>If you are looking for additional expertise, extra capacity (when your HR department needs
                            support) or replacement capacity (for example in the event of maternity leave or long-term
                            sickness leave). We offer you the support you request.</p>
                </section>
                <section>
                    <h2>Your HR business partner?</h2>
                    <p>Interested in the services Collier HR Advies has to offer? <a href="/en/contact">Please feel free to contact us.</a></p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>