<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Bijkomende dienstverlening</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Naast de operationele en strategische HR oplossingen die Collier HR Advies biedt, zijn wij ook
                        voor de onderstaande additionele HR diensten beschikbaar.</p>
                        <ul class="list">
                            <li>Werving en selectie (van het opstellen van een vacature omschrijving tot het maken
                                van een aanbieding)</li>
                            <li>Expat support, aanvragen van een kennismigranten regeling en een
                                tewerkstellingsvergunning</li>
                            <li>Coaching</li>
                            <li>Vertrouwenspersoon, wij zijn een luisterend oor voor alle personen binnen uw
                                organisatie. Met onze objectieve blik zijn wij goed in staat om conflicten/problemen
                                op te lossen</li>
                        </ul>
                </section>
                <section>
                    <h2>Uw HR businesspartner?</h2>
                    <p>Bent u op zoek naar een HR businesspartner die uw HR afdeling werk uit handen neemt, of
                        wilt u strategisch advies bij HRM vraagstukken? <a href="/contact">Neem vrijblijvend contact op.</a></p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>