<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>HR advies diensten</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <h2>HR diensten</h2>
                    <p>Uw werknemers zijn de belangrijkste personen van uw organisatie. Zij zorgen er namelijk
                        voor dat u uw bedrijfsdoelstellingen kunt halen. Met HR advies van Collier Advies zorgt u er
                        voor dat u het maximale uit uw werknemers haalt. Bij Human Resources Management
                        komen veel verschillende zaken kijken. Ziekteregistratie, in- en uitdiensttreding en
                        verandering van personeelsgegevens zijn slechts enkele administratieve taken die u veel tijd
                        kosten.</p>
                </section>
                <section>
                    <p>Collier Advies Human Resources Consultancy biedt u graag ondersteuning met interim HRM
                        diensten. Wij kunnen u HR advies bieden wanneer:</p>
                        <ul class="list">
                            <li>U op HR kosten wilt besparen;</li>
                            <li>U HR projecten wilt opstarten;</li>
                            <li>U een goede HR basis wilt leggen;</li>
                            <li>U tijdelijk een tekort heeft aan capaciteit;</li>
                            <li>U zelf niet over genoeg kennis/ervaring beschikt;</li>
                            <li>U geld wil besparen door het reduceren van (ziekte)verzuim;</li>
                            <li>Uw onderneming een groei doormaakt en daar ondersteuning bij wenst;</li>
                            <li>Uw bedrijf groot genoeg is om met personele problemen geconfronteerd te worden, maar te klein is om te beschikken over een eigen HR functionaris.</li>
                        </ul>
                    <p>Kortom, Collier HR Advies is uw HR business partner als:</p>
                    <ul class="list">
                        <li>U op zoek bent naar <strong>aanvullende expertise</strong> op het gebied van human resources;</li>
                        <li>U op zoek bent naar <strong>extra capaciteit</strong> op het gebied van human resources;</li>
                        <li>U op zoek bent naar <strong>vervangende capaciteit</strong> op het gebied van human resources.</li>
                    </ul>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>