<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Strategisch HR Advies</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Strategische <strong>HRM</strong> kan gezien worden als het proces waarin het gedrag, de kennis en de
                        ambities van mensen afgestemd worden op de organisatiedoelstellingen met als doel de
                        continuïteit van de organisatie waarborgen.</p>
                </section>
                <section>
                    <h2>Uw personeel maakt het verschil</h2>
                    <p><strong>Collier Advies</strong> kan als <strong>HR</strong> businesspartner meebouwen aan een sterke organisatie door
                        middel van strategisch advies.</p>
                </section>
                <section>
                    <h2>Wat doet Collier HR Advies?</h2>
                    <p>De <strong>HR adviseur</strong> van <strong>Collier Advies</strong>:</p>
                    <ul class="list">
                        <li>Ontwikkelt een HR-strategie die aansluit op de organisatiedoelstellingen;</li>
                        <li>Implementeert de HR-strategie binnen de organisatie;</li>
                        <li>Geeft strategisch HR advies bij organisatie specifieke vraagstukken;</li>
                        <li>Is specialist in het begeleiden van expats.</li>
                    </ul>

                    <p>Hiermee ontzorgt en ondersteunt Collier HR Advies de werknemers en HR afdeling op alle
                        vlakken die betrekking hebben op het aantrekken en settelen van internationale werknemers
                        (en hun gezinnen).</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>