<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Organisatieontwikkeling</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Uw organisatie verandert. Zij groeit, krimpt, slaat een andere richting in of past zich aan. U
                        kiest voor een ambitieuze strategie, maar u heeft moeite om deze te realiseren. <strong>Collier HR
                            Advies</strong> biedt ondersteuning bij moeilijke organisatieontwikkeling vraagstukken.</p>
                        <p>Bent u op zoek naar een HR businesspartner met oog op de toekomst van uw organisatie?
                            Dan bent u bij <strong>Collier HR Advies</strong> aan het juiste adres.</p>
                </section>
                <section>
                    <p>Ontwikkelingen HR, de volgende stap:</p>
                        <ul class="list">
                            <li>HR Policies and Procedures Handboek (standaardiseren van brieven,
                                overeenkomsten en processen en procedures);</li>
                            <li>Borgen van HR beleid, processen en procedures in organisatie;</li>
                            <li>Jaarlijkse evaluatie van de HR basis op basis van wet en regelgeving en ook
                                organisatie verandering.</li>
                        </ul>
                    <p>Kortom, Collier HR Advies is uw HR business partner als:</p>
                    <ul class="list">
                        <li>U op zoek bent naar <strong>aanvullende expertise</strong> op het gebied van human resources;</li>
                        <li>U op zoek bent naar <strong>extra capaciteit</strong> op het gebied van human resources;</li>
                        <li>U op zoek bent naar <strong>vervangende capaciteit</strong> op het gebied van human resources.</li>
                    </ul>
                    <p>Collier HR Advies kan ondersteuning bieden op operationeel en strategisch niveau. Collier HR
                        Advies biedt verschillende diensten aan op het gebied van Human Resources Consultancy;</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>