<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>HR support</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Het opstellen van een arbeidsovereenkomst, personeelshandboek en het beheren van
                        personeelsdossiers kost ellendig veel tijd voor u als onderneming. Wilt u deze HR diensten uitbesteden, dan bent u bij Collier HR Advies aan het juiste adres. Collier HR Advies biedt
                        ondersteuning op operationeel niveau bij al deze tijdrovende Human Resources activiteiten.</p>

                    <p>Voor het opzetten en/of (her)structureren van een maatwerk HR basis, bieden wij
                        onderstaande bouwstenen. Uiteraard geheel conform het Nederlands (arbeids)recht, de
                        fiscale mogelijkheden, uw organisatiecultuur én altijd in lijn met de organisatiestrategie.</p>
                        
                        <ul class="list">
                            <li>Arbeidsovereenkomst;</li>
                            <li>Personeelshandboek;</li>
                            <li>Personeelsinformatie registratie inclusief de uren/vakantiedagen;</li>
                            <li>Coördineren verloning;</li>
                            <li>Organisatie en beheer van personeelsdossiers;</li>
                            <li>Arbeidsvoorwaarden ontwikkeling;</li>
                            <li>Opzetten van arbobeleid (vertrouwenspersoon, wet verbetering poortwachter, BHV
                                e.d.);</li>
                            <li>Opzetten instroom, doorstroom en uitstroom beleid;</li>
                            <li>Inzicht in werkgeverslasten (ontwikkelen model per medewerker);</li>
                            <li>Bewaken en signaleren van termijnen t.b.v. zaken als einde proeftijd, einde contract,
                                beoordelingsronde, verloning;</li>
                            <li>Helpdesk functie voor werkgever en werknemers.</li>
                        </ul>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>