<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="intro">
        <div class="left"></div>
        <div class="right">
            <section class="quote">
                <p style="font-size: 22px;line-height: 160%;">Met onze betrokkenheid en doortastende aanpak creëren wij voor u meer vrijheid om te
                    doen waar u goed in bent: ondernemen</p>
            </section>
            <section class="intro-text">
                <h1>Collier advies, humanresources consultancy</h1>
                <p>De vrijheid om te focussen op de groei van de onderneming, daar streeft iedere ondernemer
                    naar. Dat kan echter alleen wanneer personele rompslomp als het tewerkstellen, begeleiden
                    en managen van medewerkers uitbesteed wordt. Vanuit Collier Advies Human Resources
                    Consultancy nemen wij u met onze professionele HR kennis en ervaring heel wat zorgen uit
                    handen. Een toegevoegde waarde die de investering meer dan waard is. Wij leggen u graag
                    uit waarom.</p>
            </section>
        </div>
    </section>
    <main>
        <article>
            <section>
                <ul class="list-home">
                    <li>
                        <i class="fa fa-briefcase"></i>
                        <h2>Professionele HR, basis voor transparantie</h2>
                        <p>Duidelijkheid is voor u als ondernemer van groot belang daar waar het personeelszaken
                            betreft. Dit geldt evenzogoed voor de talenten binnen uw organisatie. Met onze
                            doortastende aanpak brengen wij helder in kaart wat over en weer de verwachtingen én
                            verplichtingen zijn. Geen grijs gebied, geen onduidelijkheid, maar transparantie. Voor beide
                            partijen.</p>
                    </li>
                    <li>
                        <i class="fa fa-file-circle-check"></i>
                        <h2>HR helderheid in alle fasen</h2>
                        <p>Op deze manier ontstaat er een betrokken basis voor samenwerking die de efficiëntie en
                            effectiviteit voor een ieder verbetert. Transparantie is immers in alle fasen van uw
                            onderneming van belang. Zowel in relatie tot uw medewerkers als met het oog op groei en
                            potentiële investeerders en ook bij verkoop van uw onderneming of bedrijfssluiting.</p>
                    </li>
                </ul>
                <ul class="list-home">
                    <li>
                        <i class="fa fa-building-circle-check"></i>
                        <h2>Bijkomend voordeel</h2>
                        <p>Daarbij zorgt een goede HR basis ervoor dat uw onderneming een professionele uitstraling
                            krijgt en behoudt. Ten slotte voelt een nieuwe medewerker zich eerder aangetrokken tot een
                            organisatie die een duidelijke, aansprekende vacature tekst heeft en een gedegen HR beleid
                            voert.</p>
                    </li>
                    <li>
                        <i class="fa fa-user-check"></i>
                        <h2>Human Resources Consultancy</h2>
                        <p>Met onze expertise en onze betrokken, daadkrachtige manier van werken, creëren wij ook
                            voor uw onderneming een professionele HR basis. Bel of mail ons. Een eerste vrijblijvende
                            afspraak is zo gemaakt.</p>
                    </li>
                </ul>
            </section>
        </article>
    </main>
<%- include('partials/footer.ejs') -%>