<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Onze werkwijze</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Om direct duidelijk te zijn, wij werken vanuit de visie dat uw personeel het onderscheidend vermogen van uw organisatie is én vanuit de gedachte dat werkgever en werknemer gelijkwaardig zijn. Een werkgevers-werknemersrelatie is wat ons betreft gebaseerd op vertrouwen en respect. Een helder HR beleid zal daar alleen maar positief aan bijdragen. Wat kunt u zoal van ons verwachten?</p>
                </section>
                <section class="quote">
                    <p>Door de daadwerkelijke personeelskosten
                        meetbaar en stuurbaar te maken geven wij
                        bedrijven en organisaties meer rust en ruimte.</p>
                </section>
                <section>
                    <h2>Samen sterk in HR</h2>
                    <p>In alle gevallen staat de HR behoefte van de opdrachtgever voorop. Samenwerking is daarbij het kernwoord. Na samen bepaald te hebben welke zaken u uit handen gaat geven, worden de prioriteiten en uren vastgesteld. Wanneer u akkoord gaat met de offerte gaan wij een relatie aan voor een bepaalde periode. In die tijd wordt een stevig en werkbaar HR fundament neergezet.</p>
                </section>
                <section>
                    <h2>Optimale dienstverlening</h2>
                    <p>Aan het einde van de periode bekijken we, wederom samen, of uw organisatie behoefte heeft aan meer ondersteuning of begeleiding. Wellicht wilt u de administratie uit handen blijven geven. Dat kan, want het in meer of mindere mate betrokken blijven bij uw onderneming geeft ons de tools om u optimaal van dienst te zijn. In een persoonlijk gesprek vertellen wij u daar graag meer over. Behoefte aan een HR businesspartner? Bel of mail gerust!</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>