<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Ons Team</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Als Human Resources Consultants voelen wij ons betrokken bij onze opdrachtgevers.
                        <strong>Organisaties</strong> kunnen rekenen op onze flexibele werkwijze, praktische aanpak en maximale
                        inzet. Wij gaan doordacht en met kennis van zaken aan de slag om te leveren wat <strong>u als
                            werkgever belooft aan uw werknemers</strong>.</p>
                </section>
                <section class="quote">
                    <p>Leveren wat u belooft en onszelf volledig
                        inleven in uw organisatie, daar gaan wij voor.
                        Met hart en ziel.</p>
                </section>
                <section>
                    <h2>Beloften waarmaken</h2>
                    <p>Met andere woorden, wanneer u een sollicitant vandaag een aanbod doet, dan zorgen wij ervoor dat dit aanbod gerealiseerd wordt. Maar… mocht er iets toegezegd zijn wat b.v. fiscaal niet kan, dan maken wij dit beide partijen duidelijk en komen – indien nodig – met een alternatief. Dat is voor ons essentieel, evenals werken volgens het motto "Don't bring problems, bring solutions".</p>
                    <p>Binnen Collier Advies hebben wij al ruim 28 jaar werkervaring opgedaan bij nationale en internationale organisatie in de high tech, internet en ICT industrie - met veelal een complexe internationale structuur - bijgdragen geleverd in de startfase. Verschillende organisaties hebben wij bij inkrimping en/of sluiting met onze kennis uitstekend verder kunnen helpen.</p>
                </section>
                <section>
                    <h2>Hands-on mentaliteit</h2>
                    <p>Men noemt Collier Advies een bouwer. Een betrokken bouwer met bewezen vaardigheden in het opzetten en (her-)structureren van organisaties en HRM afdelingen. Wij weten doelstellingen in concreet HRM beleid te vertalen. Mede dankzij onze uitgebreide kennis van arbeidsrecht en arbeidsvoorwaarden en fiscale kennis plus onze ruime ervaring met expats – denk aan kennismigranten en 30% regeling - coaching en werving & selectie. Daar bouwen wij op en zijn wij oprecht trots op.</p>
                </section>
                <section>
                    <h2>Humanresources Consultancy</h2>
                    <p>Onze sterke communicatieve en sociale vaardigheden én hands-on mentaliteit zetten wij graag in voor uw HR zaken. Heeft uw organisatie specifieke HR vraagstukken? Aarzel niet en bel of mail ons voor een kennismakingsgesprek</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>