<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Samenwerking</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Goed werk leveren is voor ons meer dan alleen onze eigen expertise inzetten. In de loop der jaren hebben wij een kwalitatief hoogwaardig netwerk kunnen opbouwen. Dit netwerk is zowel nationaal als internationaal. Op deze professionals kunnen wij een beroep wanneer de situatie daarom vraagt. Samen worden zaken zo snel en capabel geregeld.</p>
                </section>
                <section class="quote">
                    <p>Op zakelijk niveau zijn wij ook persoonlijk betrokken
                        bij onze cliënten. Daar waar nodig brengen wij vanuit ons
                        netwerk mensen bij elkaar voor een optimaal resultaat.</p>
                </section>
                <section>
                    <h2>Toegevoegde waarde</h2>
                    <p>Zo werken wij onder meer nauw samen met diverse arbodiensten, accountants, arbeidsrechtjuristen, werving- en selectiebureaus en verzekeringstussenpersonen, niet alleen op nationaal niveau, maar ook op internationaal niveau. Onverwachte problemen op verzekeringsgebied of hiaten in overeenkomsten worden dankzij deze nauwe samenwerking zo snel en slagvaardig opgelost. Een bewezen waarde toegevoegd aan onze HR dienstverlening.</p>
                </section>
                <section>
                    <h2>Professionele netwerken</h2>
                    <p>Collier Advies is aangesloten bij de NVP beroepsvereniging, de Nederlandse Vereniging voor Personeelsmanagement & Organisatieontwikkeling. Op internationaal niveau zijn wij lid van het International HR Forum. Maar ook op lokaal niveau zijn wij actief betrokken bij de lokale business club.</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>