<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Onze missie & visie</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <h2>Missie</h2>
                    <p>Collier HR Advies zet zich in door middel van kennis en kunde op het gebied van HR. Dit doen
                        wij door helderheid te creëren, expertise te delen en toegevoegde waarde te leveren aan
                        kleine MKB- en (internationale) organisaties die (nog) geen HR afdeling hebben en/of
                        starten. In de samenwerking met uw organisatie delen wij onze up-to-date kennis van het HR
                        vak in persoonlijke sfeer waarbij toegevoegde waarde, wederzijds respect en vertrouwen
                        hoog in het vaandel staan.</p>
                </section>
                <section>
                    <h2>Visie</h2>
                    <p>Collier HR Advies is een betrokken HR consultancy waar kennis met betrekking tot wet- en
                        regelgeving en trends en ontwikkelingen een centrale rol speelt binnen alle samenwerkingen
                        met alle stakeholders. Deze kennis komt tot uiting in onze resultaatgerichte werkwijze
                        binnen het HR vakgebied waarbij het kennisniveau aangepast wordt op de behoefte van uw
                        organisatie. Deze kennis verankeren wij in de vorm van processen en tools en komt tot uiting
                        in een langdurige samenwerking, efficiënt maatwerk en de bijdrage die wij leveren aan de
                        professionele uitstraling van uw organisatie.</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>