<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Flexibiliteit</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>HR consultancy van Collier Advies is flexibel inzetbaar. Collier Advies Human Resources
                        Consultancy verricht haar werkzaamheden op interim- of projectbasis. U kunt dus gebruik
                        maken van onze kennis expertise voor een aantal maanden tot enkele uren per week.</p>
                        <p>U bent bij Collier HR Advies aan het juiste adres als u op zoek bent naar aanvullende
                            expertise, extra capaciteit (wanneer uw HR afdelingen ondersteuning nodig heeft) of
                            vervangende capaciteit (bijvoorbeeld bij zwangerschap of arbeidsongeschiktheid). Wij bieden
                            u de ondersteuning die u vraagt.</p>
                </section>
                <section>
                    <h2>Uw HR businesspartner?</h2>
                    <p>Bent u op zoek naar een HR businesspartner die uw HR afdeling werk uit handen neemt, of
                        wilt u strategisch advies bij HRM vraagstukken? <a href="/contact">Neem vrijblijvend contact op.</a></p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>