<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Kosten Besparend</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <h2>Collier Advies Human Resources Consultancy
                    Werkt professioneel en kostenbesparend</h2>
                    <p>Salariskosten, werkgeverslasten plus de kosten voor de verzekeringen die u voor u
                        medewerkers heeft afgesloten. Weet u exact wat hij of zij u maandelijks kost? Wij maken het
                        voor u overzichtelijk en inzichtelijk. Wellicht heeft u recht op subsidies of zijn bepaalde
                        risico’s niet afgedekt? Met die kennis kunt u actie ondernemen en geld besparen.</p>
                        <section class="quote">
                            <p>Op zakelijk niveau zijn wij ook persoonlijk betrokken
                                bij onze cliënten. Daar waar nodig brengen wij vanuit ons
                                netwerk mensen bij elkaar voor een optimaal resultaat.</p>
                        </section>
                        <h2>Kostenbesparend HR management</h2>
                        <p>Bovendien werkt een goede HR basis beslist kostenbesparend. Dankzij meer efficiënte en
                            effectieve HR processen en procedures én doordat u nu in staat bent om met ken- en
                            stuurgetallen te werken.</p>
                            <h2>Meten is weten</h2>
                            <p>Doelstellingen en bereikte resultaten zijn nu meetbaar en bij te sturen. Het tijdig begrenzen
                                van personeelsverloop en voorkomen van geschillen zijn niet langer ongrijpbare
                                kostenposten. En het met 1% terugdringen van verzuim bespaart u geld en ergernis. U ziet,
                                het professionaliseren van uw HR beleid levert meer op dan alleen een goede HR basis.</p>
                                <h2>Human Resources Consultancy</h2>
                                <p>Bent u benieuwd naar de besparingen die ons werk u kunnen opleveren? Neem gerust
                                    <a href="/contact">contact</a> op. In een persoonlijk gesprek vertel ik u graag meer over het managen van een
                                    gedegen HR administratie en de voordelen hiervan.</p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>