<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Kwaliteit</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Collier HR Advies zorgt er voor dat de kwaliteit van uw HR-proces gewaarborgd blijft. Collier
                        HR Advies zorgt er voor dat de administratieve en HRM processen efficiënter uitgevoerd
                        worden door het herinrichten en het optimaliseren van de HR-processen.</p>
                        <p><strong>Meer tijd voor advies.</strong> Door het verlagen van de administratieve druk komt er meer tijd en
                            ruimte vrij voor een medewerkergerichte dienstverlening.</p>
                            <p><strong>Prettige sfeer.</strong> Personeel werkt effectiever en er wordt verzuimreducatie gerealiseerd.</p>
                </section>
                <section>
                    <h2>Uw HR businesspartner?</h2>
                    <p>Bent u op zoek naar een HR businesspartner die uw HR afdeling werk uit handen neemt, of
                        wilt u strategisch advies bij HRM vraagstukken? <a href="/contact">Neem vrijblijvend contact op.</a></p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>