<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Continuïteit</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p><strong>Collier HR Advies</strong> draagt zorg voor het waarborgen van de continuïteit van de HR-processen.</p>
                    <p><strong>Collier HR Advies</strong> is een betrouwbare <strong>HR businesspartner</strong> die naast het waarborgen van de
                        continuïteit ook verder helpt bij het realiseren van ambities en HR businessdoelstellingen.</p>
                </section>
                <section>
                    <h2>Uw HR businesspartner?</h2>
                    <p>Bent u op zoek naar een HR businesspartner die uw HR afdeling werk uit handen neemt, of
                        wilt u strategisch advies bij HRM vraagstukken? <a href="/contact">Neem vrijblijvend contact op.</a></p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>