<%- include('partials/head.ejs') -%>
    <%- include('partials/header.ejs') -%>
    <section class="heading">
        <h1>Uw voordeel</h1>
    </section>
    <main>
        <section>
            <article>
                <section>
                    <p>Als HR businesspartner ontwikkelen wij een duidelijke HR visie en HR strategie die aansluit op
                        de strategie en kernwaarden van uw organisatie. Hierbij houden wij rekening met de
                        ontwikkelingen en veranderde interne en externe omstandigheden van uw organisatie.</p>
                    <p>Door HRM uit te besteden aan Collier HR Advies kunt u zich concentreren op het verlagen
                        van de operationele kosten, het verhogen van de kwaliteit van uw werknemers en het
                        behalen van uw strategische doelen.</p>
                    <p>Het uitbesteden van HR activiteiten aan een HR businesspartner levert u direct de volgende
                        voordelen op:</p>
                        <ul>
                            <li><a href="/uw-voordeel/kosten-besparend">Kosten besparend</a></li>
                            <li><a href="/uw-voordeel/kwaliteit">Kwaliteit</a></li>
                            <li><a href="/uw-voordeel/continuiteit">continuïteit</a></li>
                            <li><a href="/uw-voordeel/flexibiliteit">Flexibiliteit</a></li>
                        </ul>
                        <p></p>
                        <p>Benieuwd naar wat Collier HR Advies voor u kan betekenen? <a href="/contact">Neem vrijblijvend contact op</a></p>
                </section>
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>